.contact
{
    background:linear-gradient(to bottom, #57059e, #7ffa4a);
    color: black;
    /* padding-bottom: 300px; */
    height: 90vh;
}
.section-heading
{
    /* padding-top: 600px; */
    text-align: center;
    padding: 8rem 0 0.3rem 0;
    text-transform: uppercase !important;
    color: black;
    font-weight: bold;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.submit-button
{
    padding-bottom: 2rem;
}

.heading
{
    background:  white;
    color: black;
    text-align: center;
}
.page2-sub-heading
{
    font-size: 1.2rem;
    font-style: italic;
    color: black;
    text-align: center;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #6c757d !important;
}
.project-details p
{
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #6c757d !important;
}
.project-card img
{
    width: 100%;
}
.project-title 
{
    color: black;
    padding: 1rem 0;
    font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.pro-details p
{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}
.btns
{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.pro-btns .btns
{
    padding: 0.5rem 1rem;
}
.btn
{
    color: #fff;
    background-color: #ff9100;  
    border-color:  #ff9100;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #fff;
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
}
.btn-code
{
    color: #fff;
    background-color: #ff9100;   
    border-color:  #ff9100;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #fff;
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
}
.btn-view:hover {
    color: #fff;
    background-color: #ffc800;
    border-color: #ffc800;
    transition: 0.3s;
  }
.btn-code:hover {
    color: #fff;
    background-color: #ffc800;
    border-color: #ffc800;
    transition: 0.3s;
  }

@media screen and (max-width:740px) 
{
    .about-container
    {
        max-width: 90%;
        margin: auto;
        text-align: center;

        grid-template-columns: 1fr;
        
        color: black;
        background-color: white;
    }    
}

label
{
    color:  #fff;
    margin-bottom: 0.5rem;
}
.form
{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 4rem 10rem;
    margin: auto;
    max-width:600px;
}
form input
{
    margin-top: 1.8rem;
    margin-bottom: 1.2rem;
    /* margin: auto; */
    /* margin-left: 0rem; */
    /* padding: 200px 0 20px; */
    font-size: 1.2rem;
    background-color: white;
    border-color:white;
    color: #060606;
}

.text-area
{
    /* margin: auto; */
    margin-top: 1.8rem;
    /* height: 5vh; */
    width:50%;
}