.about-container
{

  background: #66A5AD;
  text-align: center;  
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
  /* position:absolute; */
  top: auto;
  left: auto;
  z-index: -1;
}

/* 8888888888888888888888888888888888888888888 */

.resumebtn{
  margin-top: 3rem;
  text-align: center;
  padding-bottom: 3rem;
}
.resumebtn .btn {
  padding: 0.8rem 1.5rem;
  border-radius: .5em;
  transition: 0.3s;
  color: #fff;
  background: #f8e004;
  box-shadow: 0px 5px 10px rgba(200, 219, 30, 0.6);
  font-family: 'Nunito', sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.resumebtn .btn:hover{
  background: #0685da;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}    

/* social icons start */
.socials{
position: relative;
margin-top: 3rem;
}
.socials .social-icons {
padding-left:0;
margin-bottom:0;
list-style:none
}
.socials .social-icons li {
display:inline-block;
margin-bottom:20px;
}
.social-icons a {
font-size: 30px;
display:inline-block;
line-height:38px;
color: #ffe600;
background-color:#09011b;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
/* .social-icons a:active,.social-icons a:focus,.social-icons a:hover {
color:rgb(255, 255, 255);
background-color:#0685da
} */





.social-icons a.github:hover {
  background-color:#0685da
}
.social-icons a.twitter:hover {
  background-color:#00aced
}
.social-icons a.linkedin:hover {
  background-color:#007bb6;
}
.social-icons a.mail:hover {
  background-color:#0685da;
}
.social-icons a.dev:hover {
  background-color:#070707
}
.social-icons a.instagram:hover {
  background-color:#ee00da
}
/* social icons end */     

/* 8888888888888888888888888888888888888888888 */