@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Playball&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

.skills {
  min-height: 90vh;
  /* font-family: 'Outfit', sans-serif; */
  font-family: 'Playball', cursive;
  /* font-family: 'Playfair Display', serif; */
  padding: 3rem;
  padding-top: 0rem;
  /* background: linear-gradient(to bottom, #57059e, #7ffa4a); */
  /* background-image: linear-gradient(to right, #cede43 0%, #38f9d7 100%); */
  /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
  /* background: linear-gradient(to right, #1e99ac 0%, #5b52d2 100%); */
  background: #0052D4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.heading-skill
{
    text-align: center;
    padding: 0rem 0 0.3rem 0;
    text-transform: uppercase !important;
    color: black;
    font-weight: bold;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.skills h2 {
  color: #fff;
}
.h2-heading 
{
  padding-top: 6rem ;
}
.skills .heading span {
  color: rgb(255, 230, 0);
}
.skills .container {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  border-radius: 2rem;
  padding: 4rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem; 
}
.skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0  4px 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.9);
  transition: 0.2s;
}
.skills .container .bar:hover {
  box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills .container .bar .info i {
  font-size: 4rem;
}
.skills .container .bar .info span {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin-left: 0.5rem;
}
/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
} 

/* mobile view */
 @media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 1.5rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
  .skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0  4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.9);
    transition: 0.2s;
  }
  .skills .container .bar:hover {
    box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
  .skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .skills .container .bar .info i {
    font-size: 4rem;
  }
  .skills .container .bar .info span {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    margin-left: 0rem;
  }
}

/* tablet view */
@media screen and (max-width: 481px) and (min-width:600px) {
  .skills .container {
    padding: 0;
    margin: 10px;
  }
  .skills .container .row {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    padding: 1.5rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
  .skills .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0  4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.9);
    transition: 0.2s;
  }
  .skills .container .bar:hover {
    box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
  .skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .skills .container .bar .info i {
    font-size: 1rem;
  }
  .skills .container .bar .info span {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    margin-left: 0rem;
  }
}